In [1]:
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
#Parameters for fetching data
from_dt='29-04-2018'
to_dt='18-05-2018'
scrip_type='indexName'
scrip='NIFTY%2050'

#Create url for fetching the data from NSE website
base_url= 'https://www.nseindia.com/products/dynaContent/equities/indices/historical_pepb.jsp?'
url = base_url+scrip_type+'='+scrip+'&fromDate='+from_dt+'&toDate='+to_dt+'&yield4=all'
#print(url)

#fetch HTML from NSE website & parse the HTML
req = urllib.request.Request(url,headers={'User-Agent': 'Mozilla/5.0'})
html = urllib.request.urlopen(req).read()
parsed_html = BeautifulSoup(html,'lxml')

#Extract the needed part from parsed HTML
raw_data = parsed_html.body.find('div', attrs={'id':'csvContentDiv'}).text

#Covert data from HTML to array
l=[]
for i in raw_data.split(sep=":"):
    k=[]
    for j in i.split(sep=","):
        k.append(j.replace('"','').strip())
    l.append(k)

#Load data into Pandas DataFrame
data = pd.DataFrame(l[1:-1],columns=l[0])
for i in data.columns[1:]:
    j=i.replace('/','').replace(' ','')
    data[j]=data[i]
    del data[i]
    
#Set appropriate datatypes on the Pandas columns

data.Date = pd.to_datetime(data.Date, format="%d-%b-%Y")
data.PE = pd.to_numeric(data.PE)
data.PB = pd.to_numeric(data.PB)
data.DivYield = pd.to_numeric(data.DivYield)

data

         Date     PE    PB  DivYield
0  2018-04-30  26.66  3.69      1.19
1  2018-05-02  26.60  3.68      1.20
2  2018-05-03  26.51  3.67      1.20
3  2018-05-04  26.36  3.65      1.21
4  2018-05-07  26.60  3.68      1.20
5  2018-05-08  26.60  3.68      1.20
6  2018-05-09  26.66  3.69      1.19
7  2018-05-10  26.60  3.68      1.20
8  2018-05-11  26.82  3.71      1.19
9  2018-05-14  26.82  3.71      1.19
10 2018-05-15  26.81  3.71      1.19
11 2018-05-16  26.66  3.69      1.19
12 2018-05-17  26.52  3.67      1.20
13 2018-05-18  26.27  3.64      1.21

In [3]:
data.describe()

              PE         PB   DivYield
count  14.000000  14.000000  14.000000
mean   26.606429   3.682143   1.197143
std     0.159837   0.020821   0.007263
min    26.270000   3.640000   1.190000
25%    26.540000   3.672500   1.190000
50%    26.600000   3.680000   1.200000
75%    26.660000   3.690000   1.200000
max    26.820000   3.710000   1.210000

In [9]:
import nsepy as nse
from datetime import date
data = nse.get_history(symbol="NIFTY 50", start=date(2015,1,1), end=date(2019,1,31), index=True)
data

                Open      High       Low     Close     Volume      Turnover
Date
2015-01-01   8272.80   8294.70   8248.75   8284.00   56560411  2.321880e+10
2015-01-02   8288.70   8410.60   8288.70   8395.45  101887024  4.715720e+10
2015-01-05   8407.95   8445.60   8363.90   8378.40  118160545  5.525520e+10
2015-01-06   8325.30   8327.85   8111.35   8127.35  172799618  8.089190e+10
2015-01-07   8118.65   8151.20   8065.45   8102.10  164075424  7.464330e+10
2015-01-08   8191.40   8243.50   8167.30   8234.60  143802802  8.147400e+10
2015-01-09   8285.45   8303.30   8190.80   8284.50  152612528  9.305950e+10
2015-01-12   8291.35   8332.60   8245.60   8323.00  103153908  5.437760e+10
2015-01-13   8346.15   8356.65   8267.90   8299.40  129561892  6.499200e+10
2015-01-14   8307.25   8326.45   8236.65   8277.55  150621631  7.020910e+10
2015-01-15   8424.50   8527.10   8380.55   8494.15  232138802  1.072562e+11
2015-01-16   8504.05   8530.75   8452.25   8513.80  181365905  8.690540e+10
2015-01-19   8550.05   8570.95   8531.50   8550.70  129346422  6.292590e+10
2015-01-20   8575.10   8707.90   8574.50   8695.60  158713840  7.838190e+10
2015-01-21   8719.65   8741.85   8689.60   8729.50  191651012  9.735990e+10
2015-01-22   8745.85   8774.15   8727.00   8761.40  180912372  9.025950e+10
2015-01-23   8827.95   8866.40   8795.40   8835.60  197124706  9.716570e+10
2015-01-27   8871.35   8925.05   8825.45   8910.50  192010521  9.988360e+10
2015-01-28   8902.75   8985.05   8874.05   8914.30  190805926  1.031346e+11
2015-01-29   8901.50   8966.65   8861.25   8952.35  264245843  1.342754e+11
2015-01-30   8996.60   8996.60   8775.10   8808.90  275587957  1.238518e+11
2015-02-02   8802.50   8840.80   8751.10   8797.40  216556534  1.043034e+11
2015-02-03   8823.15   8837.30   8726.65   8756.55  208672175  9.888100e+10
2015-02-04   8789.15   8792.85   8704.40   8723.70  201252375  8.707820e+10
2015-02-05   8733.10   8838.45   8683.65   8711.70  179008853  9.126100e+10
2015-02-06   8696.85   8726.20   8645.55   8661.05  176554075  7.912100e+10
2015-02-09   8584.40   8605.55   8516.35   8526.35  151329604  6.863170e+10
2015-02-10   8478.10   8646.25   8470.50   8565.55  202294693  9.965760e+10
2015-02-11   8603.30   8651.95   8593.65   8627.40  166560867  7.602460e+10
2015-02-12   8676.95   8732.55   8599.25   8711.55  163681352  7.669870e+10
...              ...       ...       ...       ...        ...           ...
2018-12-20  10885.20  10962.55  10880.05  10951.70  328802751  1.494594e+11
2018-12-21  10944.25  10963.65  10738.65  10754.00  389235107  1.866385e+11
2018-12-24  10780.90  10782.30  10649.25  10663.50  230291344  1.069560e+11
2018-12-26  10635.45  10747.50  10534.55  10729.85  271942701  1.283199e+11
2018-12-27  10817.90  10834.20  10764.45  10779.80  470160392  1.911988e+11
2018-12-28  10820.95  10893.60  10817.15  10859.90  253086507  1.261501e+11
2018-12-31  10913.20  10923.55  10853.20  10862.55  186494657  1.017613e+11
2019-01-01  10881.70  10923.60  10807.10  10910.10  159404542  8.688260e+10
2019-01-02  10868.85  10895.35  10735.05  10792.50  309665939  1.535225e+11
2019-01-03  10796.80  10814.05  10661.25  10672.25  286241745  1.503045e+11
2019-01-04  10699.70  10741.05  10628.65  10727.35  296596655  1.451674e+11
2019-01-07  10804.85  10835.95  10750.15  10771.80  269371080  1.273129e+11
2019-01-08  10786.25  10818.45  10733.25  10802.15  277697672  1.343348e+11
2019-01-09  10862.40  10870.40  10749.40  10855.15  333010535  1.621330e+11
2019-01-10  10859.35  10859.35  10801.80  10821.60  254365477  1.203126e+11
2019-01-11  10834.75  10850.15  10739.40  10794.95  260792200  1.308460e+11
2019-01-14  10807.00  10808.00  10692.35  10737.60  298774178  1.273257e+11
2019-01-15  10777.55  10896.95  10777.55  10886.80  310737078  1.487991e+11
2019-01-16  10899.65  10928.15  10876.90  10890.30  276539042  1.308163e+11
2019-01-17  10920.85  10930.65  10844.65  10905.20  271676319  1.321583e+11
2019-01-18  10914.85  10928.20  10852.20  10906.95  323814108  1.640883e+11
2019-01-21  10919.35  10987.45  10885.75  10961.85  288829125  1.728970e+11
2019-01-22  10949.80  10949.80  10864.15  10922.75  300768112  1.748362e+11
2019-01-23  10931.05  10944.80  10811.95  10831.50  298876314  1.473691e+11
2019-01-24  10844.05  10866.60  10798.65  10849.80  361082096  1.529848e+11
2019-01-25  10859.75  10931.70  10756.45  10780.55  463444758  2.054236e+11
2019-01-28  10792.45  10804.45  10630.95  10661.55  419682627  2.114433e+11
2019-01-29  10653.70  10690.35  10583.65  10652.20  356908994  1.883206e+11
2019-01-30  10702.25  10710.20  10612.85  10651.80  410107910  2.121481e+11
2019-01-31  10690.55  10838.05  10678.55  10830.95  604818027  2.747118e+11

[1012 rows x 6 columns]

In [10]:
nse.get_index_pe_history('NIFTY 50',start=date(2015,1,1), end=date(2019,1,31))

              P/E   P/B  Div Yield
Date
2015-01-01  21.16  3.49       1.27
2015-01-02  21.45  3.54       1.26
2015-01-05  21.40  3.53       1.26
2015-01-06  20.76  3.42       1.30
2015-01-07  20.70  3.41       1.30
2015-01-08  21.04  3.47       1.28
2015-01-09  21.16  3.49       1.27
2015-01-12  21.27  3.51       1.27
2015-01-13  21.21  3.50       1.27
2015-01-14  21.14  3.49       1.27
2015-01-15  21.70  3.58       1.24
2015-01-16  21.75  3.59       1.24
2015-01-19  21.80  3.60       1.23
2015-01-20  22.16  3.67       1.21
2015-01-21  22.21  3.68       1.21
2015-01-22  22.25  3.69       1.20
2015-01-23  22.48  3.73       1.19
2015-01-27  22.67  3.76       1.18
2015-01-28  22.67  3.76       1.18
2015-01-29  22.84  3.77       1.18
2015-01-30  22.48  3.71       1.20
2015-02-02  22.51  3.71       1.20
2015-02-03  22.42  3.69       1.21
2015-02-04  22.53  3.68       1.21
2015-02-05  22.57  3.67       1.21
2015-02-06  22.44  3.65       1.22
2015-02-09  22.59  3.59       1.24
2015-02-10  22.69  3.61       1.23
2015-02-11  22.85  3.64       1.22
2015-02-12  23.07  3.67       1.21
...           ...   ...        ...
2018-12-20  26.50  3.46       1.21
2018-12-21  26.02  3.40       1.24
2018-12-24  25.80  3.37       1.25
2018-12-26  25.96  3.39       1.24
2018-12-27  26.08  3.41       1.23
2018-12-28  26.16  3.43       1.24
2018-12-31  26.17  3.38       1.24
2019-01-01  26.28  3.40       1.24
2019-01-02  26.00  3.36       1.25
2019-01-03  25.71  3.32       1.26
2019-01-04  25.84  3.34       1.26
2019-01-07  25.95  3.36       1.25
2019-01-08  26.02  3.36       1.25
2019-01-09  26.15  3.38       1.24
2019-01-10  26.07  3.37       1.25
2019-01-11  26.00  3.36       1.25
2019-01-14  25.80  3.34       1.26
2019-01-15  26.16  3.39       1.24
2019-01-16  26.17  3.39       1.24
2019-01-17  26.21  3.40       1.24
2019-01-18  26.19  3.40       1.24
2019-01-21  26.29  3.41       1.23
2019-01-22  26.54  3.40       1.24
2019-01-23  26.32  3.37       1.25
2019-01-24  26.31  3.38       1.24
2019-01-25  26.14  3.36       1.25
2019-01-28  25.85  3.32       1.27
2019-01-29  25.84  3.32       1.27
2019-01-30  25.84  3.32       1.27
2019-01-31  26.26  3.37       1.25

[1012 rows x 3 columns]